<p id="notice"><%= notice %></p>
<!-- <div class="container"> -->
<h1>Disciplines</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>

  <tbody>
    <% @disciplines.each do |discipline| %>
      <tr>
        <td><%= link_to discipline.Name, discipline %></td>
        <% if can? :update, discipline %>
        <td><%= link_to 'Edit', edit_discipline_path(discipline) %></td>
        <% end %>
        <% if can? :delete, discipline %>

        <td><%= link_to 'Destroy', discipline, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if can? :create, Discipline %>
<%= link_to 'New Discipline', new_discipline_path %>
<!-- </div> -->
<% end %>