<p id="notice"><%= notice %></p>
<!-- <div class="container"> -->
<div class="row">
    <!-- <div class="col-md-2">col-md-3</div> -->
    <div class="col-md-8 col-md-offset-2">
      <p class="text-center">
        <h1 align="center"><%= @discipline.Name %></h1>
      </p>

      <p class="text-center">
        <!-- <strong>Description:</strong> -->
        <%= @discipline.Description %>
      </p>

      <p>
        <h2 align="center">Degrees offered</h2>
          <ul> <% for item in @degrees %>
            <% for uni in item.university %>
                <li> 
                  <%= item.name  %> by <%= uni.name %>
                </li>
            <% end %>
          <% end %>
          </ul>     
      </p>

    <p>
      <h2 align="center">Subdisciplines</h2>
          <ul> 
          <% for item in @sub %>
          <li>
          <%= link_to item.name,subdiscipline_path(item) %> </li>

          <% end %>
        </ul>

    </p>
    <% if can? :update, @discipline %>


    <%= link_to 'Edit', edit_discipline_path(@discipline) %>| 
    <% end %> 
    
    <%= link_to 'Back', disciplines_path %>
    </div>

  
  <!-- <div class="col-md-4">col-md-4</div> -->
</div>

<!-- </div> -->