<p id="notice"><%= notice %></p>

<h1>Degreeprograms</h1>

<table>
  <thead>
    <tr>
      <th>Type</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @degreeprograms.each do |degreeprogram| %>
      <tr>
        <td><%= degreeprogram.degree_type %></td>
        <td><%= degreeprogram.name %></td>
        <td><%= link_to 'Show', degreeprogram %></td>
        <td><%= link_to 'Edit', edit_degreeprogram_path(degreeprogram) %></td>
        <td><%= link_to 'Destroy', degreeprogram, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Degreeprogram', new_degreeprogram_path %>
