<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @city.name %>
</p>

<p>
  <strong>Univerities in this city:</strong>
    <% for item in @university %>
      <%= link_to item.name, university_path(item) %></td>
    <% end %>
    
</p>

<%= link_to 'Edit', edit_city_path(@city) %> |
<%= link_to 'Back', cities_path %>
