<!DOCTYPE html>
<html>
  <head>
    <title>SPROJ</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    
    <nav class="navbar navbar-default">
    <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">SILP</a>
    </div>
    
    <ul class="nav navbar-nav  navbar-right">
      <!-- <li class="active"><a href="#">Home</a></li> -->
      <li><a href="#">Home</a></li>
      <li><a href="#">How does it work</a></li>
      <li><a href="#">Contact Us</a></li>
      <li><%= link_to 'Get Started', "#" %></li>
      <li>
        <% if user_signed_in? %>
          <%= link_to 'Log Out', destroy_user_session_path, :method => :delete %>
        <% else %>
          <%= link_to 'Login', new_user_session_path %>
        <% end %>
      </li>
       
    </ul>
      
      </div>
    </nav>
    
    <div class="container">
      <%= yield %>
    </div>
  </body>
  <p class="notice"><%= notice %></p>
 <p class="alert"><%= alert %></p>
</html>
